<center> <img src="img\imagefile.png" alt=""></center>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td   style="padding: 10px 10px 10px 10px;">1 : Actividad productiva</td>
            <td   style="padding: 10px 10px 10px 10px;">2 : Administracion de gestiones</td>
            <td   style="padding: 10px 10px 10px 10px;">3 : Gestion de equipo pesados</td>
        </tr>
        <tr>
            <td  align="center" style="padding: 10px 10px 10px 10px;">4 : Estadisticad de visitas</td>
            <td  align="center" style="padding: 10px 10px 10px 10px;">5 : Gestion de personal</td>
            <td  align="center" style="padding: 10px 10px 10px 10px;">6 : Gestion de Item obras</td>
        </tr>
        <tr>
            <td  align="center" style="padding: 10px 10px 10px 10px;">7 : Gestion de orden de trabajo</td>
            <td  align="center" style="padding: 10px 10px 10px 10px;">8 : Gestion de poligono</td>
            <td  align="center" style="padding: 10px 10px 10px 10px;">9 : Gestion de usuario de sistema</td>
        </tr>
    </table>
</center>
